In [1]:
import pandas

In [2]:
zviratka = pandas.read_csv("adopce-zvirat.csv",sep=";")
zviratka

,id,nazev_cz,nazev_en,trida_cz,cena,k_prohlidce
0,7,Šváb syčivý,Madagascar giant cockroach,Bezobratlí,1000,1
1,8,Pakobylka okřídlená,Pink-winged stick insect,Bezobratlí,1000,1
2,16,Tayra,Tayra,Savci,5000,1
3,35,Kajmanka supí,Alligator snapping turtle,Plazi,2000,1
4,37,Želva žlutočelá,Indochinese box turtle,Plazi,1000,1
...,...,...,...,...,...,...
508,1417,Rosnice šalamounská,,Obojživelníci,1000,1
509,1418,Létavka obecná,,Obojživelníci,1000,1
510,1419,Bažant paví,,Ptáci,1000,1
511,1420,Sojkovec rezavouchý,,Ptáci,1000,1
512,1421,Kachnice kaštanová,,Ptáci,1000,1

In [3]:
zviratka.columns

Index(['id', 'nazev_cz', 'nazev_en', 'trida_cz', 'cena', 'k_prohlidce'], dtype='object')

In [5]:
zviratka.shape

(513, 6)

In [4]:
zviratka[["nazev_cz", "nazev_en"]].iloc[34]
#zviratka.iloc[34, 1:3]

nazev_cz     Ibis bílý
nazev_en    White ibis
Name: 34, dtype: object